name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"
      - name: Run tests
        run: dotnet test --blame-hang-timeout 2m $(find *.sln -print -quit)
